@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);
@import url("https://fonts.googleapis.com/css2?family=Just+Another+Hand&display=swap");
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
@import url(https://fonts.googleapis.com/css?family=Lato:400,700&display=swap);

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Raleway', Arial, sans-serif;
  flex-direction: column;
}

.firsttextChange h2 {
  position: relative;
  font-size: 3em;
  letter-spacing: 0.05em;
  cursor: default;
  text-transform: uppercase;
  font-weight: 500;
}

.firsttextChange h2 span {
  color: #555;
  transition: 0.25s;
}

.firsttextChange h2:hover span {
  color: #00ff2a;
  text-shadow: 0 0 5px #0f0, 0 0 15px #0f0, 0 0 30px #0f0;
}
