@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);
@import url("https://fonts.googleapis.com/css2?family=Just+Another+Hand&display=swap");
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
@import url(https://fonts.googleapis.com/css?family=Lato:400,700&display=swap);

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Raleway', Arial, sans-serif;
  flex-direction: column;
}

.firsttextChange h2 {
  position: relative;
  font-size: 3em;
  letter-spacing: 0.05em;
  cursor: default;
  text-transform: uppercase;
  font-weight: 500;
}

.firsttextChange h2 span {
  color: #555;
  transition: 0.25s;
}

.firsttextChange h2:hover span {
  color: #00ff2a;
  text-shadow: 0 0 5px #0f0, 0 0 15px #0f0, 0 0 30px #0f0;
}

.secondtextChange .header {
  position: absolute;
  /* top: 0; */
  left: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 2em;
  color: #359381;
  margin-right: 270px;
}

.navigation a {
  text-decoration: none;
  color: #359381;
  padding: 6px 15px;
  border-radius: 20px;
  margin: 0 10px;
  font-weight: 600;
  transition: 0.5s;
}

a:hover {
  background: #359381;
  color: #fff;
}

.parallax {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65vh;
  overflow: hidden;
}

.parallax img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
}

#parallaxText {
  position: absolute;
  font-size: 5em;
  color: #003329;
  text-shadow: 2px 2px 2px 4px rgba(0,0,0,0.2);
}

.content {
  position: relative;
  background: #003329;
  padding: 100px;
}

.content h2 {
  font-size: 3em;
  color: #fff;
  margin-bottom: 10px;
}

.content p {
  font-size: 1em;
  color: #fff;
  font-weight: 300;
}

.thirdtextChange .card {
  position: relative;
  width: 350px;
  height: 85px;
  background: #192a56;
  border-radius: 20px;
  transition: 0.5s;
  /* reload and go to html */
}

.thirdtextChange .toggle {
  position: absolute;
  width: 70px;
  height: 60px;
  background: #192a56;
  bottom: -60px;
  left: 50%;
  transform: translateX(-50%);
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  cursor: pointer;
  /* reload and take a look at the example */
}

.thirdtextChange .toggle:before {
  content: "";
  position: absolute;
  width: 35px;
  height: 35px;
  background: transparent;
  left: -34px;
  border-top-right-radius: 35px;
  box-shadow: 11px -10px 0 10px #192a56;
   /* reload */
} 

.thirdtextChange .toggle:after {
  content: "";
  position: absolute;
  width: 35px;
  height: 35px;
  background: transparent;
  right: -34px;
  border-top-left-radius: 35px;
  box-shadow: -11px -10px 0 10px #192a56;
  /* reload */
}

.thirdtextChange .toggle span {
  position: absolute;
  width: 10px;
  height: 10px;
  border-bottom: 3px solid #fff;
  border-right: 3px solid #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%) rotate(45deg);
  transition: 0.5s;
  /* reload */
}

.thirdtextChange .card.active .toggle span {
  transform: translate(-50%, -70%) rotate(225deg);
  /* reload */
}

.thirdtextChange .card.active {
  height: 450px;
  /* reload and go to html */
}

.thirdtextChange .card .contentThird {
  position: absolute;
  inset: 0;
  overflow: hidden;
}

.thirdtextChange .card .contentThird .contentBx {
  position: relative;
  padding: 20px;
  text-align: center;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.thirdtextChange .card .contentThird .contentBx h2 {
  color: #fff;
  font-weight: 500;
  font-size: 1.25em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  line-height: 1.1em;
}

.thirdtextChange .card .contentThird .contentBx h2 span {
  font-size: 0.75em;
  font-weight: 400;
  text-transform: capitalize;
  /* reload and go to html */
}

.imgBx {
  position: relative;
  width: 250px;
  height: 250px;
  /* background: #fff; */
  /* reload and go to the content Bx div */
  margin-top: 20px;
  box-shadow: -10px 10px 10px rgba(0,0,0, 0.15);
  border: 5px solid #fff;
  /* reload and go to html */
}

.imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* reload and go to html */
}

.thirdtextChange .card .contentThird button {
  position: relative;
  margin-top: 20px;
  padding: 10px 35px;
  border-radius: 25px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-weight: 500;
  color: #333;
  box-shadow: -10px 10px 10px rgba(0,0,0, 0.15);   
}

.forthtextChange h2 {
  position: relative;
  font-size: 3em;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  font-weight: 500;
  color: #3d3a3a;
}

@keyframes animateText {
  0%, 20% {
      color: #636060;
  }

  21%, 79% {
      color: #0f0;
  }

  80%, 100% {
      color: #636060;
  }
}

.forthtextChange h2 span {
  position: relative;
  animation: animateText 1s linear infinite;
}
