* {
   box-sizing: border-box;
}

body {
   font-family: 'Montserrat', sans-serif;
   margin: 0;
}

#product-overview {
   background: #ff1b68;
   width: 100%;
   height: 528px;
   padding: 10px;
   /*border: 5px black solid;
   margin: 10px;  */
}

.section-title {
   color:#2ddf5c;
}

#product-overview h1 {
   color: #fff;
   font-family: 'Anton', sans-serif;
}

.main-header {
   width: 100%;
   background-color: #2ddf2d;
   padding: 8px 16px;
}

.main-header > div {
   display: inline-block;
   vertical-align: middle;
}

.main-header__brand {
   color: #0e4f1f;
   text-decoration: none;
   font-weight: bold;
   font-size: 22px;
}

.main-nav {
   display: inline-block;
   text-align: right;
   width: calc(100% - 74px);
   vertical-align: middle;
}

.main-nav__items {
   margin: 0;
   padding: 0;
   list-style: none;
}

.main-nav__item {
   display: inline-block;
   margin: 0 16px;
}

.main-nav__item a {
   text-decoration: none;
   color: #0e4f1f;
}

.main-nav__item a:hover {
   color: white;
}

.main-nav__item a:active {
   color: white;
}
