@import url(https://fonts.googleapis.com/css?family=BenchNine:700);

body {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* background-color: #272727;
	color: white;  */
}

/* 
  Border Expand Button - borderExpandBtn
  Rotating Styled Button - rotatingStyledBtn
  Border Reveal Button - borderRevealBtn
  Wave Fill Button - waveFillBtn
  Background Fill Button - backgroundFillBtn
*/

a {
	text-decoration: none;
	padding: 30px 50px;
	font-family: sans-serif;
	font-size: 30px;
	position: relative;
}

a.rotatingStyledBtn {
	width: 160px;
	height: 50px;
	color: black;
	border: 3px solid black;
	display: flex;
	justify-content: center;
	text-align: center;
	line-height: 60px;
	transition: all 0.2s;
}

a.waveFillBtn {
	color: #00aeff;
	font-size: 18px;
	letter-spacing: 3px;
	border: 3px solid #00aeff;
	text-transform: uppercase;
	position: relative;
	overflow: hidden;
	transition: all 0.5s;
}

a.backgroundFillBtn {
	width: 160px;
	height: 60px;
	color: black;
	line-height: 60px;
	text-align: center;
	text-transform: capitalize;
	transition: all 0.2s;
	overflow: hidden;
}

a.backgroundFillBtn span.fill {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: transparent;
	border: 2px solid black;
	z-index: -1;
	box-sizing: border-box;
}

button.borderExpandBtn {
	border: none;
	padding: 12px 40px;
	background-color: #c47135;
	color: white;
	font-family: 'BenchNine';
	font-size: 22px;
	text-transform: uppercase;
	cursor: pointer;
	position: relative;
}

button.borderRevealBtn {
	background-color: transparent;
	border: none;
	position: relative;
	width: 300px;
	height: 120px;
	text-transform: uppercase;
	line-height: 120px;
	text-align: center;
	color: rgb(94, 60, 60);
	font-size: 30px;
	letter-spacing: 10px;
	overflow: hidden;
}

button.borderExpandBtn:before {
	content: "";
	position: absolute;
	width: 24px;
	height: 24px;
	top: -5px;
	left: -5px;
	border-top: 2px solid #c47135;
	border-left: 2px solid #c47135;
	transition: all 0.25s;
}

button.borderExpandBtn:hover:before,
button.borderExpandBtn:hover:after {
	height: 100%;
	width: 100%;
}

button.borderRevealBtn:hover:before {
	left: 0;
}

button.borderRevealBtn:before {
	content: "";
	position: absolute;
	top: 0;
	left: -100%;
	width: 100%;
	height: 4px;
	background-color: rgb(94, 60, 60);
	transition: all 0.5s;
}  

button.borderExpandBtn:after {
	content: "";
	position: absolute;
	width: 24px;
	height: 24px;
	bottom: -5px;
	right: -5px;
	border-bottom: 2px solid #c47135;
	border-right: 2px solid #c47135;
	transition: all 0.25s;
}

button.borderRevealBtn:after {
	content: "";
	position: absolute;
	bottom: 0;
	right: -100%;
	width: 100%;
	height: 4px;
	background-color: rgb(94, 60, 60);
	transition: all 0.5s;
}

button.borderRevealBtn:hover:after {
	right: 0;
}

span.reveal:before {
	content: "";
	position: absolute;
	top: -100%;
	right: 0;
	width: 4px;
	height: 100%;
	background-color: rgb(94, 60, 60);
	transition: all 0.5s;
}

button.borderRevealBtn:hover span.reveal:before {
	top: 0;
}

span.reveal:after {
	content: "";
	position: absolute;
	bottom: -100%;
	left: 0;
	width: 4px;
	height: 100%;
	background-color: rgb(94, 60, 60);
	transition: all 0.5s;
}

button.borderRevealBtn:hover span.reveal:after {
	bottom: 0;
}

a.rotatingStyledBtn:hover {
	color: white;
}

a.rotatingStyledBtn:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index: -1;
	opacity: 0;
	transition: all 0.8s;
}

a.rotatingStyledBtn:hover:before {
	opacity: 1;
	transform: rotate(15deg);
}

a.rotatingStyledBtn span.rotate {
	color: transparent;
	position: relative;
}

a.rotatingStyledBtn span.rotate:before {
	content: "H";
	position: absolute;
	color: black;
	transition: all 0.2s;
}

a.rotatingStyledBtn:hover span.rotate:before {
	color: white;
	font-size: 80px;
	transform:translate(-65%, -10%) rotate(360deg);
}

span.fill:before {
	content: "";
	position: absolute;
	width: 8%;
	height: 500%;
	background-color: white;
	top: 50%;
	left: 50%;
	transition: all 0.2s;
	transform: translate(-50%, -50%) rotate(-60deg);
}

a.backgroundFillBtn:hover span.fill:before {
	width: 100%;
	background-color: black;
	transform: translate(-50%, -50%) rotate(60deg);
}

a.backgroundFillBtn:hover {
	color: white;
}

a.waveFillBtn:hover {
	color: white;
}

.wave {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: calc(100% + 22px);
	background-color: #00aeff;
	transition: all 1s;
	z-index: -1;
}

a.waveFillBtn:hover .wave {
	top: 0;
}

.wave:before {
	content: "";
	position: absolute;
	top: -22px;
	left: 0;
	width: 100%;
	height: 22px;
	background: url(wave.png);
	animation: wavy 0.5s linear infinite;
}

@keyframes wavy {
	0% { background-position-x: 0 }
	100% { background-position-x: 118px; }
}